<div id="topRow">
    <img id="left" src="https://www.materialui.co/materialIcons/navigation/close_white_2048x2048.png" height=25
        width=25>

    <h1 id="title">unmixr.</h1>
    <img id="close" (click)="close()" src="https://www.materialui.co/materialIcons/navigation/close_white_2048x2048.png"
        height=25 width=25>
</div>


<p style="text-align:center">Take the drums, vocals, or everything else out of a song.</p>
<ul id="icons">
    <li id='inline'>
        <div id='karaoke'>
            <div>
                <img src="https://www.shareicon.net/download/2016/11/14/852089_microphone.svg" height="100" width="100">
                <p>Karaoke Track</p>
            </div>
        </div>
    </li>
    <li id='inline'>
        <div id='acap'>
            <div>
                <img src="https://www.shareicon.net/data/256x256/2015/11/13/671324_face_512x512.png" height="100"
                    width="100">
                <p>A Cappella Track</p>
            </div>
        </div>

    </li>
    <li id='inline'>
        <div id="drums">
            <div>
                <img src="https://www.svgrepo.com/show/24120/drumsticks.svg" color=red height="100" width="100">
                <p>Drum Track</p>
            </div>
        </div>
    </li>
</ul>

<p>To use:</p>
<ol>
    <li>Paste a Youtube URL from the song you'd like to modify</li>
    <li>Select desired mode</li>
    <li>Click Submit and wait for the file to generate</li>
    <li>Play the Youtube video, your new audio will play along!</li>
    <li>Download the audio if you wish</li>
</ol>

<p>Enjoy your newly unmixed tracks.</p>