<h1 id="title">How to Use!</h1>

<p>This application seperates audio files from YouTube into the three following modes:</p>
<ul id="icons">
    <li id='inline'>
        <div id='karaoke'>
            <div>
                <img src="https://www.shareicon.net/download/2016/11/14/852089_microphone.svg" height="100" width="100">
                <p>Karaoke Track</p>
            </div>
        </div>
    </li>
    <li id='inline'>
        <div id='acap'>
            <div>
                <img src="https://www.shareicon.net/data/256x256/2015/11/13/671324_face_512x512.png" height="100"
                    width="100">
                <p>A Cappella Track</p>
            </div>
        </div>

    </li>
    <li id='inline'>
        <div id="drums">
            <div>
                <img src="https://www.svgrepo.com/show/24120/drumsticks.svg" color=red height="100" width="100">
                <p>Drum Track</p>
            </div>
        </div>
    </li>
</ul>

<p>Follow these steps to use:</p>
<ol>
    <li>Find the URL of any Youtube Video.</li>
    <li>Select the mode you want</li>
    <li>Click Submit and wait for the file to generate</li>
    <li>Play the Youtube video</li>
    <li>Download the audio if you wish</li>
</ol>

<p>We hope you have fun unmixing tracks!!!</p>